body {
width: 90%;
background-color: black;
color: green;
margin:auto;
font-size:30px; 
margin: 10px 50px; 
letter-spacing: 6px; 
font-weight: bold;
font-family: 'Press Start 2P', cursive;
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

