@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #212121;
    color: #33FF33;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Fira Code', monospace;
    overflow: hidden;
}
.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	border-radius: 5px;
	background-color: black;
    position: absolute;
}
/* On mouse-over, add a deeper shadow */

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
/* Add some padding inside the card container */

.innercard {
	padding: 2px 16px;
}


canvas {
            width: 100%;
            height: 100%;
        }